*.iml
*.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.DS_Store
/build
/captures
/databases
.externalNativeBuild
*.cxx
local.properties
/app/src/main/java/com/dinaraparanid/prima/utils/rustlibs/target
/app/src/main/java/com/dinaraparanid/prima/utils/rustlibs/Cargo.lock
/app/src/main/java/com/dinaraparanid/prima/utils/web/genius/GeniusApi.kt
*.so
*.log
*.apk
